@model ProfileViewModel

<h3>Edit</h3>
<hr>
<div>
    <form asp-action="Edit" asp-controller="Account" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All"></div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control">            
                    </div>
                    <div class="mb-3">
                        <label asp-for="Surname" class="form-label"></label>
                        <input asp-for="Surname" class="form-control">            
                    </div>
                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-control">            
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control">            
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <label asp-for="Avatar" class="form-label"></label>
                            <div class="d-flex">
                                <input class="form-control" type="file" asp-for="Avatar" name="formFile" id="formFile">
                                <img src="~/img/user/@Model.Avatar" class="rounded mx-auto" height="36rem" width="36rem" />
                            </div>
                        </div>           
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label asp-for="Address" class="form-label"></label>
                        <textarea asp-for="Address" class="form-control"></textarea>            
                    </div>
                    <div class="mb-3">
                        <label asp-for="City" class="form-label"></label>
                        <input asp-for="City" class="form-control">            
                    </div>
                    <div class="mb-3">
                        <label asp-for="Country" class="form-label"></label>
                        <input asp-for="Country" class="form-control">            
                    </div>
                    <div class="mb-3">
                        <label asp-for="PostalCode" class="form-label"></label>
                        <input asp-for="PostalCode" class="form-control">            
                    </div>
                    <div class="mb-3">
                        <label asp-for="Gender" class="form-label"></label>
                        <div class="d-flex gap-3">
                            <div class="form-check">
                                @if(Model.Gender == false){
                                    <input class="form-check-input" type="radio" asp-for="Gender" value="false" checked>
                                } else {
                                    <input class="form-check-input" type="radio" asp-for="Gender" value="false">
                                }
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Male
                                </label>
                            </div>
                            <div class="form-check">
                                @if(Model.Gender == true){
                                    <input class="form-check-input" type="radio" asp-for="Gender" value="true" checked>
                                } else {
                                    <input class="form-check-input" type="radio" asp-for="Gender" value="true">
                                }
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Female
                                </label>
                            </div>           
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success w-100">Edit</button>
    </form>
</div>