<div class="text-center">
    <h2>Teşekkür ederiz...</h2>
    <p>#@Model.OrderId numaralı siparişiniz oluşturuldu.</p>
    <p>Siparişiniz en kısa sürede gönderilecektir.</p>
    <a href="/" class="btn btn-success">Home</a>
</div>