
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        @foreach(var product in Model){
            <div class="card mb-3 col-6 col-sm-6 col-md-4">
                <div class="row d-flex align-items-center text-start">
                    <div class="col-md-4">
                    <a href="/details/@product.ProductId"><img src="~/img/product/@product.Image" class="img-fluid rounded" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="/details/@product.ProductId" style="text-decoration: none;" class="text-dark"><h5 class="card-title">@product.ProductName</h5><strong>@product.Price ₺</strong></a>
                            <p class="card-text">@product.Description</p>
                            <a href="/details/@product.ProductId" class="btn btn-outline-success">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
