<h3>Cart</h3>
<hr>
<div class="row">
    <div class="col-8">
        <div class="card ">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/img/product/1.jpg" class="img-fluid rounded mx-3" width="100px" height="50px" alt="">
                </div>
                <div class="col-md-10 p-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <h4>Product Name</h4>
                        <h6 class="text-success mx-3"><strong>8000 ₺</strong></h6>
                    </div>
                    <span class="badge bg-warning">5 Tane</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card p-3">
            <h5 class="text-dark">Seçilen Ürünler</h5>
            <h3 class="text-success"><strong>8000 ₺</strong></h3>
            <a href="/Orders/Checkout" class="btn btn-warning">Procced to checkout</a>
        </div>
    </div>

</div>